name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ${{matrix.config.os}}

    name: amplisim on ${{ matrix.config.os }}
    
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: macos-12
          - os: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up system and build on Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update -y
          sudo apt-get install -y lzma libbz2-dev libcurl4-openssl-dev
          git submodule init
          git submodule update --init --recursive
          mkdir build
          make -C lib/htslib
          make

      - name: Set up system and build on macOS
        if: runner.os == 'macOS'
        run: |
          brew install xz curl glib-openssl argp-standalone
          git submodule init
          git submodule update --init --recursive
          mkdir build
          make -C lib/htslib
          make

