name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ${{matrix.config.os}}

    name: amplisim on ${{ matrix.config.os }}
    
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-12}
          - {os: ubuntu-latest}

    steps:
    - uses: actions/checkout@v3

    - name: Set up system on Linux
      if: matrix.config.os == 'ubuntu-latest'
      run: |
        sudo apt-get update -y
        sudo apt-get install -y lzma libbz2-dev libcurl4-openssl-dev
        git submodule init
        git submodule update --init --recursive

    - name: Set up system on macOS
      if: matrix.config.os == 'macos-12'
      run: |
        brew install lzma curl glib-openssl
        git submodule init
        git submodule update --init --recursive

    - name: Build amplisim
      run: |
        mkdir build
        make -C lib/htslib
        make
