name: build

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ${{matrix.config.os}}

    name: amplisim on ${{ matrix.config.os }}
    
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: macos-12
          - os: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build amplisim on Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update -y
          sudo apt-get install -y lzma libbz2-dev libcurl4-openssl-dev
          git submodule init
          git submodule update --init --recursive
          mkdir build
          make -C lib/htslib
          make

      - name: Build amplisim on macOS
        if: runner.os == 'macOS'
        run: |
          brew install xz curl glib-openssl argp-standalone
          git submodule init
          git submodule update --init --recursive
          mkdir build
          make -C lib/htslib
          make

      - name: Run amplisim
        run: |
          mkdir testdata && cd testdata
          wget https://raw.githubusercontent.com/artic-network/primer-schemes/master/nCoV-2019/V5.3.2/SARS-CoV-2.primer.bed
          wget https://www.ebi.ac.uk/ena/browser/api/fasta/MN908947.3
          sed 's/>ENA|MN908947|MN908947.3 Severe acute respiratory syndrome coronavirus 2 isolate Wuhan-Hu-1, complete genome./>MN908947.3/g' MN908947.3 > MN908947.3.fasta
          cd ..
          
          ./amplisim -s 479            -o testdata/amplicons.fasta   testdata/MN908947.3.fasta testdata/SARS-CoV-2.primer.bed
          ./amplisim -s 479 -m 20 -n 2 -o testdata/amplicons.2.fasta testdata/MN908947.3.fasta testdata/SARS-CoV-2.primer.bed
                    
          cmp testdata/amplicons.fasta testdata/amplicons.2.fasta || echo "File with default parameters is different."

          ./amplisim -s 400            -o testdata/amplicons.3.fasta testdata/MN908947.3.fasta testdata/SARS-CoV-2.primer.bed

      - name: Verify md5sum
        if: runner.os == 'macOS'
        run: |
          brew install coreutils
          md5sum testdata/amplicons.fasta
          md5sum testdata/amplicons.fasta | md5sum -c test/sarscov2_s479.macos.md5

          md5sum testdata/amplicons.2.fasta
          md5sum testdata/amplicons.2.fasta | md5sum -c test/sarscov2_s479.macos.md5

          md5sum testdata/amplicons.3.fasta
          md5sum testdata/amplicons.3.fasta | md5sum -c test/sarscov2_s479.macos.md5